body{
    font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
}
h2{
    font-size: 60px;
}
h1{
    font-size:40px ;
}
.skip{
    color: rgb(252, 97, 36);
}
.HIRE-ME{
    text-decoration: none;
    background-image: linear-gradient(rgb(253, 126, 75),rgb(250, 64, 31));
    font-size: 10px;
    color: white;
    padding:8px 25px ;
    border-radius: 20px;
}
.a{
    margin-top: 30px;
}
.d-flex{
    display: flex;
    margin-top: 70px;
}
.half-witdh{
    width: 50%;
    
}
.half-witdh img{
    width: 90%;
    margin-top: 35px;
}
.top{
    padding-left: 100px;
    margin-top: 40px;
}
.to-right{
    margin-top: 50px;
    padding-right: 100px;
    padding-top: 90px;
}
.two-part{
    background-image: url(7.png);
}